@model BharaDibo.Models.Customer

@{
    ViewBag.Title = "Register";
}

<h1 class="text-center mt-4">Register</h1>

<div class="registerpage">
    <form action="" method="POST">
        <div class="form-group">

            <div class="col-md-2">
                <label for="UserName" class="col-form-label">User Name<span>*</span></label>
            </div>

            <div class="col-md-10">
                <input type="text" class="form-control" id="UserName" name="CUSName" required>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label for="UserEmail" class="col-form-label">User Email<span>*</span></label>
            </div>
            <div class="col-md-10">
                <input type="email" class="form-control" id="UserEmail" name="CUSEmail" required>
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-2">
                <label for="UserPhNum" class="col-form-label">Contact Number<span>*</span></label>
            </div>

            <div class="col-md-10">
                <input type="text" class="form-control" id="UserPhNum" name="CUSContactNo" required>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-2">
                <label for="UserPassword" class="col-form-label">User Password<span>*</span></label>
            </div>

            <div class="col-md-10">
                <input type="password" class="form-control" id="UserPassword" name="CUSPassword" required>
            </div>

        </div>

        @*<div class="mb-3">
                <label for="UserCPassword" class="col-form-label">Confirm Password<span>*</span></label>
                <input type="password" class="form-control" id="UserCPassword" name="RegisterCPassword" required>
            </div>
            <div class="textc"></div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" name="registerbtn" value="Register" class="btn-lg btn-primary" id="reg" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>@ViewBag.Notification</label>
            </div>
        </div>



    </form>

</div>


